@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap');

:root {
  --heading-font-family: Montserrat, sans-serif;
  --heading-font-weight: 400;
  --primary: #000;
  --secondary: #6afd7e;
  --secondary-dark: #58d569;
  --border-color: #666;
  color: var(--primary);
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 400;
  color: var(--secondary);
  text-decoration: none;
}

a:hover,
a:visited {
  color: var(--secondary-dark);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 400px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--heading-font-weight);
}

h1 {
  font-size: 3.2em;
  font-weight: var(--heading-font-weight);
  line-height: 1.1;
}
