.offer {
  --border-radius: 0.5rem;
  background-color: #efefef;
  border-radius: var(--border-radius);
  display: block;
  width: 100%;

  .offer-img {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    width: 100%;
  }

  .offer-body {
    padding: 0.75rem 1rem;
    text-align: center;
  }

  .offer-desc {
    font-family: var(--heading-font-family);
    margin: 0;
  }
}

.offers {
  max-width: 600px;
  width: 100%;

  .offer:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}